.wrapper{
  width: 1920px;
 margin: 0 auto;
 /* background-color: blue; */
}
.header{
    width: 1421px;
margin: 0 auto;
}
.section{
  width: 1420px;
margin: 0 auto;
margin-top: 140px;
}
.carousel-item {
  min-width: 400px;
}
.map-container {
  width: 1420px;
  height: 508px;
  margin: 0 auto;
  position: relative;
  z-index: -100;
}
.map-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}
.item-block{
  width: 380px;
height: 508px;
position: absolute;
right: 219px;
bottom: 0px;
background: white;
}
.triangle-right {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid #956D84; 
  position: absolute;
  left: 0px;
  top: 230px;
}
.triangle-left {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 30px solid #956D84;
  position: absolute;
  right: 0px;
  top: 230px;
}

